@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
}

main {
  padding: 25px;
  flex-grow: 1;
}

a {
  color: $black;
  text-decoration: none;
  font-weight: normal;
  transition: color 100ms ease-out;

  &:hover,
  &:focus {
    color: darken($green, 20%);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}

tr {
  height: 40px;
}

thead {
  font-weight: bold;
  border-bottom: 2px solid lighten($grey, 20%);
  color: $grey;
}

tbody {
  tr {
    border-bottom: 1px solid $pink;

    &:nth-child(odd) {
      background: lighten($grey, 50%);
    }
  }
}