// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Favorites";
$icons8-font-path: "../fonts";

$icons8-var-checkmark: "\f107";
$icons8-var-checkmark-filled: "\f108";
$icons8-var-contacts: "\f105";
$icons8-var-contacts-filled: "\f106";
$icons8-var-delete: "\f101";
$icons8-var-delete-filled: "\f10a";
$icons8-var-edit: "\f102";
$icons8-var-edit-filled: "\f10b";
$icons8-var-notification: "\f10f";
$icons8-var-notification-2: "\f110";
$icons8-var-search: "\f100";
$icons8-var-search-filled: "\f10c";
$icons8-var-settings: "\f104";
$icons8-var-settings-filled: "\f10d";
$icons8-var-trash: "\f103";
$icons8-var-trash-filled: "\f109";
